@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Outfit", sans-serif;

}

html,
body {
    background-color: hsl(212, 45%, 89%);
}

#main{
    display: grid;
    width: 40rem;
    align-items: center;
    margin: 0 auto;
    padding: 0.005em;
    /* border: 2px solid red; */
}

.qr-code-container {
    width: 18rem;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 10px;
    padding: 0 0.001em 0.5em 0.001em;
    margin: 20px auto;
    box-shadow: 3px 3px #ada3a3;
    /* border: 2px solid green; */

}

img {
    width: 16rem;
    padding: 1em;
    border-radius: 1.5em;
    margin: 0 auto;
}

.qr-code-container h2 {
    width: 80%;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 auto;
}

.qr-code-container p {
    color: rgb(168, 176, 185);
    padding: 0.5em;
    width: 80%;
    font-size: 1rem;
    margin: 0 auto;
}

footer {
    background-color: #ada3a3;
    padding: 1.5em;
    text-align: center;
    margin: .6rem auto;
    font-weight: bold;
    font-size: 1em;
    bottom: 1;
}


@media screen and (max-width:375px) {
    #maincontainer {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 0.5em;
    }

    .qr-code-container {
        width: 80%;
        background-color: hsl(0, 0%, 100%);
        text-align: center;
        border-radius: 10px;
        padding: 0.002em 0.002em 1em 0.002em;
        margin: 5px auto;
    }

    img {
        width: 16rem;
        padding: 0.2em 0.2em 0 0.2em;
        border-radius: 10px;
        margin: 5px;
    }

    .qr-code-container h1 {
        width: 100%;
        font-size: 1.5rem;
    }

    .qr-code-container p {
        color: rgb(168, 176, 185);
        padding: 1em;
        width: 90%;
        font-size: 1rem;
    }


    footer {
        background-color: #ada3a3;
        padding: 1.2em;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        font-size: 15px;
    }

}